#nom
{
	width: 100px;
	height:30px;
	text-align: right;

	position: absolute;
	left: 50px;
	top: 110px;
}
#nom2
{
	width: 208px;
	height:30px;
	text-align: right;

	position: absolute;
	left: 160px;
	top: 110px;
}
#bt_nuevo
{
	width: 580px;
	height:30px;
	position: absolute;
	left: 180px;
	top: 200px;
	text-align: center;	
}
